:root {
  --border-radius: 7px;

  --control-size: 25px;

  --dark-gray: #222;
  --dark-transparent: #000a;
  --white: #fff;
  --accent: #d8b028;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 22px;
  font-family: 'Arial', 'Helvetica', sans-serif;
}

body {
  background: url(img/pattern.jpg);
  background-color: var(--dark-gray);
  color: var(--white);
}

.container {
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem 2rem;
  
  background: var(--dark-transparent);
}

/* GALLERY */
.gallery {
  display: flex;
  min-width: 100%;
  overflow: hidden;
}
.gallery__image-wrapper{
  min-width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
}
.gallery__image{
  border-radius: var(--border-radius);
  border: 5px solid var(--accent);
}

.text {
  display: inline-block;
  padding: 1rem;
  width: 75%;
}

.controls {
  display: inline-flex;
  justify-content: flex-end;
  width: 24%;
}

.control {
  cursor: pointer;
  width: var(--control-size);
  height: var(--control-size);
  margin-right: 0.5rem;
}