/******** GENERAL ********/
:root {
  --border-radius: 0.5rem;

  --padding-standard: 0.5rem;
  --padding-large: 1rem;

  --dark-gray: #222;
  --dark-transparent: #111d;
  --white: #fff;
  --accent: #d8b028;
  --text-color: #fdf9e7;

  --transition-standard: 300ms;
  --transition-large: 1100ms; 
  --transition-large-extra: 1600ms; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
  font-family: 'Arial', 'Helvetica', sans-serif;
}

body {
  background: url(img/pattern.jpg);
  background-color: var(--dark-gray);
  color: var(--text-color);
}


.container {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  max-width: 1000px;

  width: 100%;
  height: auto;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem 5rem;
  
  background: var(--dark-transparent);
}


/******* GALLERY ********/
.gallery {
  display: flex;
  margin: 0 auto;
  margin-bottom: var(--padding-large);
  overflow: hidden;
}
.gallery__image-wrapper {
  width: 100%;
  padding: 0 var(--padding-large);
  min-width: 100%;

  display: flex;
  justify-content: center;

  transition: var(--transition-large);
}
.gallery__image{
  width: 100%;
  border-radius: var(--border-radius);
}


/******** TEXT ********/
.text-wrapper {
  display: inline-block;
  width: 70%;
  padding-left: var(--padding-large);
  margin-right: auto;
}
.text {
  display: none;
  transition: var(--transition-large);
}


/******** CONTROLS ********/
.control-radio {
  display: none;
}

.controls-wrapper {
  margin-right: 1rem;
}

.control-wrapper {
  padding: 0.5rem 0.25rem;
  cursor: pointer;
}

.control-radio ~ .controls-wrapper .control:after {
  visibility: hidden;
  content: "";
  width: 65%;
  height: 65%;

  border-radius: 100px;
  animation-duration: var(--transition-large);
  animation-fill-mode: forwards;
}


.control {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  order: 3;

  width: 1.1rem;
  height: 1.1rem;

  transition: var(--transition-standard);
  appearance: none;
  border-radius: 50%;
  background-color: var(--accent);
}
.control-wrapper:hover .control{
  background-color: var(--text-color);
  border-color: var(--text-color);
}


/******** CONTROLS CHANGE ********/
#control-1:checked ~ .controls-wrapper label[for = control-1] .control:after {
  visibility: visible;
  animation-name: appear-control;
}
#control-2:checked ~ .controls-wrapper label[for = control-2] .control:after {
  visibility: visible;
  animation-name: appear-control;
}
#control-3:checked ~ .controls-wrapper label[for = control-3] .control:after {
  visibility: visible;
  animation-name: appear-control;
}
#control-4:checked ~ .controls-wrapper label[for = control-4] .control:after {
  visibility: visible;
  animation-name: appear-control;
}



/******** IMAGE CHANGE ********/
#control-2:checked ~ .gallery .gallery__image-wrapper {
  transform: translateX(-100%);
}
#control-3:checked ~ .gallery .gallery__image-wrapper {
  transform: translateX(-200%);
}
#control-4:checked ~ .gallery .gallery__image-wrapper {
  transform: translateX(-300%);
}


/******** TEXT CHANGE ********/
#control-1:checked ~ .text-wrapper #text-1 {
  display: block;
  animation: appear-text var(--transition-large-extra);
}
#control-2:checked ~ .text-wrapper #text-2 {
  display: block;
  animation: appear-text var(--transition-large-extra);
}
#control-3:checked ~ .text-wrapper #text-3 {
  display: block;
  animation: appear-text var(--transition-large-extra);
}
#control-4:checked ~ .text-wrapper #text-4 {
  display: block;
  animation: appear-text var(--transition-large-extra);
}


/******** ANIMATION ********/
@keyframes appear-text {
  from {
    color: transparent;
  } to {
    color: inherit;
  }
}
@keyframes appear-control {
  from {
    background-color: transparent;
  } to {
    background-color: var(--dark-gray);
  }
}


/******** MEDIA QUERIES ********/
@media only screen and (max-width: 768px) {
  html {
    font-size: 18px;
  }
  
  .container {
    justify-content: center;
    padding: var(--padding-large);
  }

  .gallery {
    display: flex;
    margin: 0 auto;
    margin-bottom: 0px;
    overflow: hidden;
  }

  .gallery__image-wrapper {
    padding: 0px;
  }

  .controls-wrapper {
    margin: 1rem 0px;
  }

  .text-wrapper {
    display: block;
    width: 100%;
    order: 4;
  }
}