:root {
  --border-radius: 7px;
  --border-standard: 3px solid var(--accent);
  --border-large: 6px solid var(--accent);

  --padding-standard: 0.5rem;
  --control-size: 25px;

  --dark-gray: #222;
  --dark-transparent: #000a;
  --white: #fff;
  --accent: #d8b028;
  --text-color: #fdf9e7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 22px;
  font-family: 'Arial', 'Helvetica', sans-serif;
}

body {
  background: url(img/pattern.jpg);
  background-color: var(--dark-gray);
  color: var(--text-color);
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1280px;

  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem 2rem;
  
  background: var(--dark-transparent);
}

/* GALLERY */
.gallery {
  display: flex;
  min-width: 100%;
  overflow: hidden;
}
.gallery__image-wrapper{
  min-width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
}
.gallery__image{
  max-width: 65%;
  height: auto;
  border-radius: var(--border-radius);
  border: var(--border-large);
}


/* TEXT */
.text {
  display: inline-block;
  padding: var(--padding-standard);
  width: 75%;
}


/* CONTROLS */
.controls {
  display: inline-flex;
  justify-content: flex-end;
  width: 24%;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--control-size);
  height: var(--control-size);
  margin-right: var(--padding-standard);
  cursor: pointer;

  /* custom styling */
  appearance: none;
  border-radius: 50%;
  border: var(--border-standard);
}

.control:checked::after {
  width: 70%;
  height: 70%;
  content: '';

  border-radius: 50%;

  background-color: var(--text-color);
}